.chaos-header {
  display: table;
}
.chaos-header.chaos-header-alin-center > div {
  display: block;
  text-align: center;
}
.chaos-header > div {
  display: table-cell;
  vertical-align: middle;			
}
.chaos-container {
  margin: auto;
}
.chaos-main-menu {
  color: #3d3d3d;
}
.chaos-header-alin-left .chaos-main-menu,
.chaos-header-alin-right .chaos-logo {
  text-align: right;
}
.main-menu-more {
  display: none;
}
.chaos-main-menu ul {
  list-style-type: none;
  padding: 0px;
}
.chaos-main-menu ul li,
.menu-background .chaos-main-menu ul li:last-child {
  padding-right: 15px;
  display: inline-block;
}
.chaos-main-menu ul li:last-child {
  padding-right: 0px;
}
ul.chaos-main-menu > li {
  position: relative;
}
ul.chaos-main-menu li ul {
  position: absolute;
  display: none;
}
ul.chaos-main-menu li:hover ul {
  display: block;
}
ul.chaos-main-menu li.sub-item {
  background: red;
  width: 300px;
  text-align: left;
}
.chaos-container .entry-title::before {
  content: '';
  display: none !important;
}
.chaos-container .entry-title,
.chaos-container .entry-content,
.chaos-container .entry-header,
.chaos-container .entry-footer {
  padding: 0px;
  margin: 0px;
}
.chaos-container .entry-content,
.chaos-container .entry .entry-content > * {
  max-width: 100%; 
  width: 100%; 
}
.chaos-sidebar {
  display: none;
}
.chaos-footer-widget {
  display: inline-block;
}
.chaos-main-menu .site-branding, 
.chaos-main-menu  .main-navigation ul.main-menu > li {
  line-height: inherit;
}
#masthead {
  background-size: auto;
  background-repeat: no-repeat;
}
.chaos-container.chaos-full-width {
  width: 100%;
}
.chaos-contact-header a:last-child i {
  padding-right: 0px;
}
.chaos-copyright {
  padding-top: 15px;
  padding-bottom: 15px;
}
.chaos-copyright .copyright1,
.chaos-copyright .copyright2 { 
  display: table;
}
.chaos-copyright .copyright1 > div,
.chaos-copyright .copyright2 > div { 
  width: 50%;
  display: table-cell;
}
.chaos-social-media-icons.chaos-social-media-align-right {
  text-align: right;
}
.chaos-copyright .copyright1 .chaos-social-media-icons,
.chaos-copyright .copyright5 .chaos-social-media-icons,
.chaos-copyright .copyright2 .chaos-copyright-text  {
  text-align: right;
}
.chaos-copyright .copyright4,
.chaos-copyright .copyright5 {
  position: relative;
} 
.chaos-copyright .copyright3 .chaos-copyright-text,
.chaos-copyright .copyright3 .chaos-social-media-icons,
.chaos-copyright .copyright4 .chaos-copyright-text,
.chaos-copyright .copyright5 .chaos-copyright-text {
  text-align: center;
}
.chaos-copyright .copyright3 > div
.chaos-copyright .copyright4 > div,
.chaos-copyright .copyright5 > div {
  width: 100%;
  display: inherit;
} 
.chaos-copyright .copyright5 .chaos-social-media-icons,
.chaos-copyright .copyright4 .chaos-social-media-icons {
  top: 0px;
  position: absolute;
}
.chaos-copyright .copyright4 .chaos-social-media-icons {
  left: 0px;
}
.chaos-copyright .copyright5 .chaos-social-media-icons {
  right: 0px;
}
.chaos-contact-header {
  padding-top: 15px;
  padding-bottom: 15px;
}
.chaos-contact-header .header1,
.chaos-contact-header .header2 { 
  display: table;
}
.chaos-contact-header .header1 > div,
.chaos-contact-header .header2 > div { 
  width: 50%;
  display: table-cell;
}
.chaos-social-media-icons.chaos-social-media-align-right {
  text-align: right;
}
.chaos-contact-header .header1 .chaos-social-media-icons,
.chaos-contact-header .header5 .chaos-social-media-icons,
.chaos-contact-header .header2 .chaos-contact-header-text  {
  text-align: right;
}
.chaos-contact-header .header4,
.chaos-contact-header .header5 {
  position: relative;
} 
.chaos-contact-header .header3 .chaos-contact-header-text,
.chaos-contact-header .header3 .chaos-social-media-icons,
.chaos-contact-header .header4 .chaos-contact-header-text,
.chaos-contact-header .header5 .chaos-contact-header-text {
  text-align: center;
}
.chaos-contact-header .header3 > div
.chaos-contact-header .header4 > div,
.chaos-contact-header .header5 > div {
  width: 100%;
  display: inherit;
} 
.chaos-contact-header .header5 .chaos-social-media-icons,
.chaos-contact-header .header4 .chaos-social-media-icons {
  top: 0px;
  position: absolute;
}
.chaos-contact-header .header4 .chaos-social-media-icons {
  left: 0px;
}
.chaos-contact-header .header5 .chaos-social-media-icons {
  right: 0px;
}
#masthead {
  
}